/** CSS STYLE **/
@font-face {
    font-family: 'OpenSans-Regular';
    src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url(fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url(fonts/OpenSans-Italic.ttf);
}

@font-face {
    font-family: 'Neucha-Regular';
    src: url(fonts/Neucha-Regular.ttf);
}

body {
    font-family: 'OpenSans-Regular';
    font-size: 16px;
    line-height: 1.6em;
    color: #2a2626;
    overflow-x: hidden;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Neucha-Regular';
    line-height: 1.2em;
    margin: 0;
    font-weight: normal;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

h4 {
    font-size: 24px;
    color: #908d8b;
}

.orange {
    color: #fe8a02;
}

header {
    width: 100vw;
    height: 100vh;
    background: #F5F4F0;    
}

header::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100vw;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
}

.header-container {
    position: relative;
    max-width: 1110px;
    height: 100%;
    margin: auto;
}

.header-image {
    position: relative;
    height: 515px;
    top: 54px;
    right: -288px;
    margin-bottom: 55px;
}

.header-heading {
    position: absolute;
    top: 100px;
}

.content-text {
    overflow: hidden;
}

.content-text div {
    width: calc(50% - 15px);
    float: left;
}

.margin-right-30px {
    margin-right: 30px;
}

.content-text p {
    margin-top: 0;
}

#header-button-container {
    overflow: hidden;
}

#header-button-left {
    width: calc(50% + 15px);
    height: 49px;
    float: left;
}

#header-button {
    position: relative;
    float: left;
    height: 49px;
    width: 148px;
    font-weight: bold;
    background-color: #fe8a02;
}

#header-button a {
    display: block;
    width: 100%;
    height: 100%;
    margin: 12px 24px;
    text-decoration: none;
    color: #ffffff;    
    text-transform: uppercase;    
}

#header-button:hover {
    background-color: #EA7600;
}

.section1 {
    position: relative;
    width: 100vw;
    height: 100%;
}

.section1-container {
    position: relative;
    max-width: 1110px;
    margin: auto;
    padding-top: 100px;
}

.section1-heading {
    margin-bottom: 30px;
}

.section1-container p {
    text-align: center;
    margin: 0 0 14px 0;
}
.section1-heading h1, 
.section1-heading h2 {
    text-align: center;    
}

.video-container {
    position: relative;
    margin: auto;
    text-align: center;
    padding-top: 16px;
}

.video {
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
    border-width: 0;
}

#navigation {
    position: relative;
    top: -100px;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100%;
    background-color: #42413c;
}

.section2-container {
    position: relative;
    margin: auto;
    padding: 200px 0 100px 0;
    max-width: 1110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-heading {
    width: 348px;
    height: 348px;
    text-align: left;
}

.nav-heading h1,
.nav-heading h2 {
    font-size: 52px;
}

.nav-heading p {
    font-family: 'Neucha-Regular';
    line-height: 1.2em;
    font-size: 52px;
    margin: 0;
}

.card {
    width: 300px;
    height: 276px;
    background-color: #f5f4f0;
    padding: 24px;
    text-align: left;
}

.card:hover {
    background-color: #fe8a02;
}

.card:hover * {
    color: #ffffff;
}

.card a,
.card a:visited {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #42413c;
}

.card-number {
    font-family: 'Neucha-Regular';
    margin: 0 0 40px 0;
    font-size: 64px;
    line-height: 1em;
}

.card-heading {
    font-family: 'Neucha-Regular';
    font-size: 34px;
}

.margin-bootom-20px {
    margin-bottom: 20px;
}

.section3,
.section5,
.section7 {
    background: #F5F4F0;
}

#ikea-effect,
#premature-optimization,
#distortion-of-novelty,
#hyperbolic-depreciation,
#errors-in-planning {
    width: 100vw;    
}

#ikea-effect,
#distortion-of-novelty,
#errors-in-planning {
    background: #F5F4F0;
}

#ikea-effect::before,
#premature-optimization::before,
#distortion-of-novelty::before,
#hyperbolic-depreciation::before,
#errors-in-planning::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100vw;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
}

.section-container {
    position: relative;
    margin: auto;
    max-width: 1110px;
    padding: 100px 0;
}

.section-up {
    display: flex;
    justify-content: space-between;
}

.section-img-left {
    order: 1;
    vertical-align: middle;
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.section-text-right {
    order: 2;
    text-align: left;
    max-width: 500px;
}

.kogisk-header {
    font-family: 'Neucha-Regular';
    font-size: 24px;
    color: #908d8b;
    margin: 0;
    line-height: 1.2em;
}

.kogisk-description {
    font-family: 'Neucha-Regular';
    font-size: 34px;
    margin: 0;
    line-height: 1.2em;
}

.section-pre-heading {
    margin: 100px 0 20px;
}

.back-brown {
    background-color: #b09a81;
}

.back-white {
    background-color: #ffffff;
}

.section-pre-heading h2 {
    font-family: 'OpenSans-Regular';
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    padding: 5px 10px;
}

.section4,
.section6 {
    background-color: #b09a81;
}

.section-img-right {
    order: 2;
    vertical-align: middle;
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.section-text-left {
    order: 1;
    text-align: left;
    max-width: 500px;
    color: #ffffff;
}

.text-white {
    color: #ffffff;
}

.text-brown {
    color: #b09a81;
}

footer {
    width: 100vw;
    height: 100%;
}

.footer-container {
    position: relative;
    margin: auto;
    max-width: 1110px;
    padding: 100px 0;
}

.footer-up-section {
    background-color: #42413c;
    overflow: hidden;
}

.footer-us-text {
    width: calc(50% - 70px);
    float: left;
    padding: 55px 0 55px 55px;
}

.text-18px {
    font-size: 18px;
}

.footer-us-email {
    width: calc(50% - 15px);
    float: left;
    padding-top: 38px;
}

.footer-us-email p {
    margin: 0;
}

#enter-email {
    height: 50px;
    width: 415px;
    float: left;
}

input {
    border: 0;
    padding: 0;
    padding-left: 15px;
}

input::placeholder {
    padding: 15px;
    padding-left: 0;
}

#button-enter-email {
    position: relative;
    height: 50px;
    width: 70px;
    background-color: #fe8a02;
    float: left;
}

#button-enter-email a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

#button-enter-email a:hover {
    content: url(../images/send_hover.svg);
    align-items: center;
    vertical-align: middle;
}

#button-enter-email::before {
    content: url(../images/send.svg);
    align-items: center;
    vertical-align: middle;
}

.footer-us-email-soglash {
    font-size: 12px;
}

.footer-us-email-soglash a,
.footer-us-email-soglash a:visited {
    color: #ffffff;
}

.footer-down-section {
    width: 100%;
    margin-top: 60px;
    font-size: 14px;
    text-align: center;
}
