/** CSS STYLE **/
@font-face {
    font-family: 'OpenSans Regular';
    src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'OpenSans Bold';
    src: url(fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'OpenSans Italic';
    src: url(fonts/OpenSans-Italic.ttf);
}

@font-face {
    font-family: 'Neucha Regular';
    src: url(fonts/Neucha-Regular.ttf);
}

body {
    font-family: 'OpenSans Regular';
    font-size: 16px;
    line-height: 1.6em;
    color: #2a2626;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: 'Neucha Regular';
    line-height: 1.2em;
    margin: 0;
}

h1 {
    font-size: 72px;
    color: #fe8a02;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

section {
    max-width: 1110px;
    text-align: center;
    margin: 100px 0;
}

header {
    width: 100vw;
    height: 100vh;
}

header::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.header-image {
    position: relative;
    height: 525px;
    max-width: 100%;
    top: 55px;
    right: -270px;
    overflow: hidden;
    margin-bottom: 55px;
}

.header-heading {
    position: absolute;
    top: 100px;
    left: 165px;
}

.header-text {
    column-count: 2;
    column-gap: 30px;
}

.header-text p {
    margin-top: 0;
}

.header-button {
    display: inline;
    position: relative;
    margin-top: 2em;
    padding: 12px 24px;
    font-weight: bold;
    background-color: #fe8a02;
    text-align: center;
}

.header-button a {
    text-decoration: none;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}

.section1 {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.section1-heading {
    margin-bottom: 30px;
    margin: auto;
}

.video {
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
    margin: auto;
}

.section2 {
    position: relative;
    background-color: #42413c;
    width: 100vw;
    height: 100%;
}

#navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    padding: 100px 0;
}

.nav-heading {
    width: 25%;
    height: 323px;
    padding: 24px;
    margin: 12px;
    text-align: left;
}

.nav-heading h1,
h2 {
    font-size: 52px;
}

.card {
    width: 25%;
    height: 323px;
    background-color: #f5f4f0;
    padding: 24px;
    margin: 12px;
    text-align: left;
}

.card:hover {
    background-color: #fe8a02;
}

.card:hover * {
    color: #ffffff;
}

.card a,
a:visited {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #42413c;
}

.card-number {
    margin-bottom: 40px;
    font-size: 64px;
    line-height: 1em;
}

.card-heading {
    font-size: 52px;
}
